<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogFile=".\Logs\myp-internal-nlog.txt"
      internalLogLevel="Info"
      autoReload="true" >

  <variable name="LogFileName" value="MyProject" />
  <include file="NLogCommon.config" />

</nlog>