<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile=".\Logs\myp-internal-nlog.txt">

  <!-- This file should contain the targets and loggers that are common to all projects. -->

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <!-- This assembly contains the NLog Renderer that writes out the UniqueId value. -->
    <add assembly="Argo.NLogExtensions" />
  </extensions>

  <variable name="logDirectory" value=".\Logs\"/>
  <!-- Define other variables to set up the layout as needed. -->
  <variable name="thread" value="${pad:padding=5:fixedLength=true:inner=${threadid}}" />

  <!-- the targets to write to -->
  <targets async="true">

    <wrapper-target name="buffer" xsi:type="BufferingWrapper" bufferSize="50" overflowAction="Flush" flushTimeout="1000">
      <wrapper-target xsi:type="PostFilteringWrapper">
        <defaultFilter>level >= LogLevel.Warn</defaultFilter>
        <when exists="level >= LogLevel.Warn" filter="level >= LogLevel.Trace" />
        <target xsi:type="File" 
                fileName="${var:logDirectory}/${var:LogFileName}Exception-${shortdate}.log"
                layout="${longdate}|${var:thread}|${UniqueId}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" 
                concurrentWrites="true"
                keepFileOpen="false"
                />
      </wrapper-target>
    </wrapper-target>
    <!-- write logs to file  -->

    <target xsi:type="File"
            name="TraceLog"
            layout="${longdate}|${var:thread}|${UniqueId}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            fileName="${var:logDirectory}/${var:LogFileName}Trace-${shortdate}.log"
            concurrentWrites="true"
            keepFileOpen="false"
            />

    <target xsi:type="ColoredConsole"
            name="consoleLog"
            layout="${longdate}|${threadid}|${machinename}|${uppercase:${level}}|${message} ${exception:format=message}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="consoleLog" />
    <logger name="*" minlevel="Trace" writeTo="TraceLog" />
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="buffer" />
  </rules>
</nlog>
