<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.postsharp.org/1.0/configuration">
  <Property Name="LoggingDeveloperMode" Value="True" />
  <Logging xmlns="clr-namespace:PostSharp.Patterns.Diagnostics;assembly:PostSharp.Patterns.Diagnostics">
    <Profiles>
      <LoggingProfile Name="detailed" IncludeSourceLineInfo="True" IncludeExecutionTime="True" IncludeAwaitedTask="True">
        <DefaultOptions>
          <LoggingOptions Level="Error" IncludeParameterType="True" IncludeParameterName="True"/>
        </DefaultOptions>
      </LoggingProfile>
      <LoggingProfile Name="default" IncludeExecutionTime="True">
        <DefaultOptions>
          <LoggingOptions IncludeParameterType="True" IncludeParameterName="True" IncludeParameterValue="True"/>
        </DefaultOptions>
      </LoggingProfile>
      <LoggingProfile Name="exceptions" IncludeSourceLineInfo="True">
        <DefaultOptions>
          <LoggingOptions IncludeParameterType="True" IncludeParameterName="True" />
        </DefaultOptions>
      </LoggingProfile>
    </Profiles>
  </Logging>
</Project>